<div class="header navbar navbar-expand-lg navbar-dark bg-primary px-3 sticky-top">
  <i class="bi bi-list text-xl font-weight-bold" data-bs-toggle="modal" data-bs-target="#signOutModal"></i>
   <div class="d-flex align-items-center mx-auto">
    <h2 class="my-1">Categories</h2>
  </div>
  <i class="bi bi-search text-xl font-weight-bold"></i>
</div>

<div class="container mt-4">
  <div class="category-list">
  <% @categories.each do |category| %>
    <div class="d-flex align-items-center my-3 border rounded p-2 mb-3">
      <div class="d-flex align-items-center flex-grow-1">
        <i class="bi <%= category.icon %> text-primary icon-lg mr-3"></i>
        <div>
          <%= link_to category_expenses_path(category), class: 'no-underline' do %>
            <h6 class="light-gray m-2"><%= category.name %></h6>
          <% end %>
          <p class="light-gray m-2"><%= category.created_at.strftime("%d %b %Y") %></p>
        </div>
      </div>
      <p class="bold-text"><%= number_to_currency(category.total_expenses_amount) %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="position-fixed bottom-0 w-100 bg-success text-white p-3 text-center">
  <%= link_to "Add a new category", new_category_path, class:"text-white no-underline" %>
</div>