<%= form_with model: @category, url: categories_path, method: :post do |f| %>
  <div class="header navbar navbar-expand-lg navbar-dark bg-primary px-3">
     <%= link_to categories_path do%>
      <i class="bi bi-arrow-left text-xl font-weight-bold"></i>
    <% end %>
     <div class="d-flex align-items-center mx-auto">
    <h2 class="my-1">Add a new category</h2>
  </div>
    <%= f.submit "Save", class: "text-xl font-weight-bold bg-primary text-white borderless" %>
  </div>
  <div class="form-group mt-4 ml-4 mr-4">
    <%= f.label :icon, "Select a category" %>
    <%= f.select :icon, Category::ICONS.map { |icon| [icon[:name], icon[:class]] }, class: "border border-blue-500" %>
  </div>
  <div class="form-group mt-4 ml-4 mr-4">
    <%= f.label :name %>
    <%= f.text_field :name, class: "block w-full border-blue-200 border-3 mt-2 mr-5" %>
  </div>
<% end %>